doctype html
html(class='h-100')
    head
        title Data sent successfully
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    body(class='d-flex flex-column h-100')
        .container
            h1(class='mb-5') Data sent successfully

            table.table.table-bordered
                tr
                    th Name
                    th Email

                    if data && data.length
                      each item in data
                          tr
                              td= item.name
                              td= item.email
                    else
                        tr 
                            td(colspan="2") No data available


            a.btn.btn-success(href="/" class='mt-3') Back to form