doctype html
html(class='h-100')
    head
        title Data send successfully
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    body(class='d-flex flex-column h-100')
        .container
            h1(class='mb-5') Data send successfully
            p Name: #{name}
            p Email: #{email}
            a.btn.btn-success(href="/3097_form_validation/" class='mt-3') Back to form